name: Java CI with Gradle
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Current Java version
        run: java -version
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: gradle build
      - name: Upload LangHelper
        uses: actions/upload-artifact@v4.6.2
        with:
          name: LangHelper
          path: "plugin/build/libs/*.jar"